[Unit]
Description=China DNS race proxy
After=network.target
Before=dnsdist.service

[Service]
Type=simple
ExecStart=@BASE_DIR@/bin/china-dns-race-proxy -l 127.0.0.1:5301 -upstreams 223.5.5.5:53,119.29.29.29:53
Restart=on-failure
RestartSec=3
User=root
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
